*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

#firstbox{
    background-color:#f0f0f0;
  /* margin-top: -0px; */
}
#firstbox>div{
    width: 75%;
    margin:auto ;
    padding: 20px 0px;
}
#firstbox p{
    margin: 25px 0px;
   
}
a{
    text-decoration: none;
    color: rgb(0, 174, 255);
    font-weight: bold;
}
#container{
    width: 80%;
    margin: auto;
    margin-top: -12px;
}
.card{
   display: flex;
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
   border-radius: 12px;
   margin-top: 25px;
   margin-bottom: 50px;
   height: 320px;
   overflow: hidden;
}
.card > .text{
  margin: 20px;
  width: 60%;
  height: 100%;
  align-items: center;
}
.card >.text>.video{
 background-color: red;
 border: 0px;
 width: 200px;
 height: 40px;
 color: white;
 font-size: large;
 border-radius: 8px;
 margin-top: 20px;
}
.text>p{
margin-top: 15px;
margin-bottom: 15px;
}
#next{
margin-left: 77%;
border: 0px;
width: 100px;
height: 40px;
border-radius: 8px;
font-size: 14px;
margin-top: 30px;
}
.card > #img{
width: 40%;
height: 100%;
}
#img > img{
width: 100%;
height: 100%;
}