*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#helpblock{
 display: flex;
 justify-content: space-around;
 width: 90%;
 margin: auto;
 padding: 15px;
}
.left{
  width: 20%;
}

.left div{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  align-items: center;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 40px;
  height: 250px;
}
.left>img{
  width: 0%;
  height: 70%;
  margin: auto;
}
.left p{
  font-size: large;
  margin-top: 5px;
}
#right{
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  margin: 20px;
  width: 70%;
  border-radius: 5px;
  padding: 40px;
}
#right>img {
margin-top: 30px;
margin-bottom: 30px;
}
hr {
  width: 90%;      
  margin: 20px;
}
.adverties{
  display: flex;
  justify-content:space-evenly;
  text-align: center;
margin: 30px 0px;
}
.adverties img{
  width: 99%;
}
#right button{
margin: auto;
display: block;
height: 50px;
font-size: 20px;
font-weight: bold;
width: 250px;
text-align: center;
color: white;
background-color: red;
border-color: red;
border-radius: 5px;
margin-top: 50px;
margin-bottom: 40px;
}
.adverties+p{
text-align: center;
}
.add_supp{
  width:99%;
  margin: auto;
}
a{
 text-decoration: none;
 color: rgb(14, 166, 236);
}
.about{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: space-around;
  grid-template-areas: 
   "a a b"
   "c c b"       
  ;
}
.about>div{
  grid-area: a;
  width: 90%;
}
.about>img{
   grid-area: b;
   height: 250px;
   margin-left: -20px;
}
.about h2:last-child{
  color: red;
  margin-top: -20px;
  margin-bottom: 20px;
 grid-area: c;
}
table{
  align-items: center;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}
table tr:first-child{
 background-color: #e8e8e8;
 height: 40px;
}
table tr:nth-child(2){
 background-color: rgb(248, 248, 248);
 height: 50px;
}
table tr:nth-child(3){
 background-color: #f3f3f3;
 height: 50px;
}
table tr:nth-child(4){
 background-color: #f8f8f8;
 height: 50px;
}
table tr:nth-child(5){
 background-color: #f3f3f3;
 height: 50px;
}
table tr:nth-child(6){
 background-color: #f8f8f8;
 height: 50px;
}
table tr:nth-child(7){
 background-color: #f3f3f3;
 height: 50px;
}
table tr:nth-child(8){
 background-color: #f8f8f8;
 height: 50px;
}
tr>td:first-child{
 text-align: left;
 padding: 10px;
}
table img{
 width: 15%;
}
#superhero{
 background-color:#04be5a;
 border-color: #04be5a;
 margin-bottom: 20px;
}
.profile{
 display: flex;
 justify-content: space-around;
 text-align: center;
 margin-bottom: 20px;
}
.profile img{
width: 100px;
border-radius: 5px;
}
.profile>p{
 color: rgb(92, 90, 90);
}
p+img{
width: 100%;
}
h2+p{
margin: 20px 0px;
}
p+h2{
margin: 15px 0px;
}