#deals{

 text-decoration: none;
 color:black;
}
*{
    margin: 0px;
    padding: 0px;
  }
  #select{
    overflow: scroll;
   }
   .box {
    border: 1px solid #dddddd;
    padding: 10px;
    float: right;
    margin-top: -12%;
}
.button_red {
    font-family: 'Roboto', Arial;
    width: 150px;
    height: 30px;
    line-height: 19px;
    background-color: #f53838;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 15px 8px 15px;
    text-align: center;
    vertical-align: middle;
    border-radius: 6px;
    margin: 10px;
}
  #btn {
height: 30px;
width:180px;
border-radius: 5px;
background-color: #f53838;
border: 1px solid grey;
font-family: 'Poppins', sans-serif;
font-size: medium;
margin-top: 8%;
border-radius: 5px;
font-weight: bold;
margin-left: 35%;
color:#ffffff;
  }

  #parts {

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    gap: 11px 11px;
    width: 81%;
    margin: auto;

  }

  #parts>div {

    text-align: center;
    /* border: 1px solid black; */
    height: auto;
    width: 152px;
    padding: 11px 10px;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  }

  #parts>div:first-child {
    background-color: #2bb673;
    color: white;

  }

  #parts>div:hover {
    /* background-color:#666666; */
    background-color: azure;
    cursor: pointer;
  }
  #container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    /* width: 80%; */
    margin: auto;
    width: 80%;
    gap:11px 0px;
    /* gap: 18px -15px; */
  }
 #container>div{
  text-align: center;
  border-radius: 7px;
  cursor: pointer;
  height: auto;
  margin: 5px 7px;
  padding: 11px 0px;
  width: 351px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
 }


 .box1{
 display: flex;
 padding: 5px 0px;
 justify-content: space-evenly;
 
 
 }
 .box1>p{
  margin-top: 11px;
  margin-left:11px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 .box1>button{
  
  padding: 7px;
    color: white;
    background-color: red;
    cursor: pointer;
    border-radius: 7px;
    border: white;
    height: 32px;
    width: 70px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 7px;
  
 }
.box3{
  width: fit-content;
}
.p2{
  padding: 2px 2px;
}

/* ............................ */


@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@1,700&family=Roboto:wght@300&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

/* Home Items */

#items_category{
    width: 100%;
    background-color: #2bb673;
}

#items_category_list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin: auto;
}

#items_category_list>li{
    list-style: none;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding: 10px 20px 10px 20px;
    font-weight:bold;
    font-size: 18px;
}

#items_category_list>li>a{
    text-decoration: none;
    color: white;
    padding: 10px 20px 10px 20px;
}
#items_category_list>li:hover{
    color: rgb(242, 242, 242);
}
#category>ul>li:nth-child(3){
    background-color: #229760;
}

#category{
    background-color: #2bb673;
    
} 
*{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
#detail{
    background-color:#f0f0f0;
    padding: 11px 125px;
}
#detail>input{
    padding: 3px 10px;
    height: 38px;
    width: 372px;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border: white;
    border-radius: 15px;
    font-weight: bold;

    
}
#detail>p{
    font-weight: bold;

}
#detail>select{
    margin: 5px 7px;
    height: 39px;
    width: 150px;
    padding: 3px 10px;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border: white;
    border-radius: 15px;
    font-weight: bold;
    color: #444444;



}
#detail>button{
    padding: 11px 15px;
    height: auto;
    width: 180px;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border: white;
    border-radius: 15px;
    font-weight: bold;


}
#btn1{

    background-color:#2bb673;
    height: 36px;
    width: 180px;
    color: white;
    padding: 8px 15px;
    font-size: 16px;
    margin-left: 256px;
    font-weight: bold;

}

#page{
    display: flex;
    margin: 25px 125px;
    /* justify-content: space-between; */
}
#page>div:first-child{
    color: black;
}
#page>div:nth-child(2){
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;    color: black;

    




}
#page>div{
    color: #057ff1;
    margin: 7px 7px;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
}

#page1{
    display: flex;
    margin: 25px 125px;
    /* justify-content: space-between; */
}
#page1>div:first-child{
    color: black;
}
#page1>div:nth-child(2)
{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;    
    color: black;
}
#page1>div{
    color: #057ff1;
    margin: 7px 7px;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
}


#opt{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
#opt>div{
    display: flex;
}
#opt>div:first-child>div:first-child{
    background-color: #2bb673;
    padding: 8px 10px 8px 10px;
    border: 1px solid #d8d8d8;
    font-size: 14px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: normal;
    cursor: pointer;
    display: block;
    font-family: 'Poppins', sans-serif;
}
#opt>div:first-child>div{

    padding: 2px 8px 2px 8px;
    border: 1px solid #d8d8d8;
    font-size: 14px;
    border-radius: 5px;
    margin-left: 5%;
    font-family: 'Poppins', sans-serif;
}
#search{
height: 30px;
width:180px;
border-radius: 5px;
border: 1px solid grey;
font-family: 'Poppins', sans-serif;
font-size: medium;
color: black;
}
#btn-default
{
    height: 30px;
    width:180px;
    border-radius: 5px;
    border: 1px solid grey;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    color: black;
    height: 30px;
background-color: #f53838;
border: 1px solid grey;
font-family: 'Poppins', sans-serif;
font-size: medium;
margin-top: -5%;
border-radius: 5px;
font-weight: bold;
margin-left: 5%;
color:#ffffff;  
}
#select{
height: 30px;
width:180px;
border-radius: 5px;
border: 1px solid grey;
font-family: 'Poppins', sans-serif;
font-size: medium;
margin-top: 8%;
border-radius: 5px;
font-weight: bold;
margin-left: 30%;
color: teal;
}
.bg{
  height:380px;
  width: 1520px;

  


}
.pi>img{
    height: 200px;
    width: 200px;
    border: 5px solid whitesmoke;
    margin-left: 151px;
    
    

}

.pi{

  /* height: 200px;
  width: 200px; */
  display: flex;
  position:relative;
  bottom: 181px;

  left: 3px;
  /* background-color: #f0f0f0; */
  background-color: rgba(209, 201, 201, 0.5); 
  /* background-color: red; */
  /* justify-content: space-between; */
  width: 100%;
  border: 7px;
  
  padding: 1px 1px;
  border-radius: 7px;
  width: auto;
  padding-right: 15px;
  
   
  

}
.us{
    margin-left: 11px;
    margin-top:140px;
    

    
}

.but{
     
    
    color: white;
    background-color: red;
    cursor: pointer;
    border-radius: 7px;
    border: white;
    width: 180px;
    font-size: 16px;
    
    height: 40px;
    font-weight: bold;
    margin-top: 11px;
    margin-left: 25px;
   
  
}
.us>h2{
    margin-left: 30px;
    font-family:Arial, Helvetica, sans-serif;
}
.picsy{
    position: relative;
    top: 25px;
}
body{
    background-color:  whitesmoke
}

#containerr{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  /* width: 80%; */
  margin: auto;
  width: 80%;
  gap:11px 0px;
  /* gap: 18px -15px; */
}
#containerr>div{
text-align: center;
border-radius: 7px;
cursor: pointer;
height: auto;
margin: 5px 7px;
padding: 11px 0px;
width: 351px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}


.box1{
display: flex;
padding: 5px 0px;
justify-content: space-evenly;


}
.box1>p{
margin-top: 11px;
margin-left:11px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box1>button{

padding: 7px;
  color: white;
  background-color: red;
  cursor: pointer;
  border-radius: 7px;
  border: white;
  height: 32px;
  width: 70px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 7px;

}
.box3{
width: fit-content;
}
.p2{
padding: 2px 11px;
text-shadow: 1px;
font-weight: bold;
}
