* {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.myForm1 {
  display: none;
}

.signUp1 {
  position: absolute;
  right: 5%;
  width: 5%;
}

.form-popup1 {
  width: 55%;
  height: 75vh;
  display: none;
  position: fixed;
  bottom: 11vh;
  right: 25%;
  background-color: #fff;
  z-index: 9;
  margin: auto;
  border-radius: 12px;
}

.cross1 {
  margin-left: 96%;
  margin-top: 1.5vh;
  cursor: pointer;
}

.formIn1 {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  width: 45%;
  text-align: center;
}

.formIn1>input {
  width: 80%;
  height: 38px;
  margin: auto;
  margin-top: 25px;
  border-radius: 5px;
  border: 1px solid #c5c2c2;
  font-size: .9em;
}

.formIn1>p:first-child {
  margin-top: 20px;
  font-size: 1.4em;
  color: #3f3c3c;
}

.formIn1>p:nth-child(2) {
  margin-top: 20px;
  line-height: 20px;
  font-size: 1em;
  color: #8b8585;
}

.btnsub1 {
  width: 60%;
  margin: auto;
}

.btnsub1>a>input {
  margin-top: 50px;
  height: 7vh;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #04be5a;
  color: white;
  font-size: 1.3em;
  cursor: pointer;
}

.sepline1 {
  height: 50vh;
  width: 2px;
  background-color: #d6cfcf;
  position: fixed;
  left: 47.5%;
  bottom: 25vh;
}

.secform1>div>img {
  height: 170px;
  width: 300px;
  border-radius: 10px;
  position: absolute;
  right: 50px;
  top: 180px;
}

.app1 {
  border-radius: 5px;
  position: absolute;
  right: 12%;
  bottom: 16vh;
}

.app1>input {
  height: 50px;
  width: 200px;
  border: none;
  background-color: #04be5a;
  color: white;
  font-size: 1.3em;
  border-radius: 5px;
}

.pointer1 {
  cursor: pointer;
}

.auto1 {
  margin: auto;
}

.logo1{
  margin-top: 6px;
}

.logo1>img {
  height: 12vh;
  width: 100%;
}

.upnav1 {
  height: 13vh;
  width: 80%;
  display: flex;
  justify-content: space-around;
}


.adicons1 {
  width: 14%;
  display: flex;
  justify-content: space-between;
  margin-top: 3vh;
}

.adicons1>img {
  width: 25%;
  height: 6vh;

}

.social1 {
  font-size: .8em;
  width: 20%;
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;

}

.social1>button {
  margin-top: -5px;
  height: 3vh;
  width: 30%;
  border: none;
  border-radius: 5px;
  color: white;
}

.btnfb1 {
  background-color: #35619f;
}

.emailbtn1 {
  background-color: #666666;
}


.botnav1{
  height: 6vh;
  width: 100%;
  background-color: #2bb673;
}
.auto1 a{
  text-decoration: none;
  color: white;
}
.botnav1>div {
  padding: 10px;
  width: 70%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  color: white;
  font-size: 1.25em;
}

.botnav1>div>li:nth-last-child(2) {
  color: white;
}

.work {
  margin-top: 6vh;
  height: 200vh;
}

.topwork {
  width: 75%;
}

.topwork>div:nth-child(1) {
  font-size: 2.25em;
  color: #5a5757;
  text-align: center;
  margin-top: 20vh;
}

.topwork>div:nth-child(2) {
  width: 42%;
  font-size: 1.25em;
  color: #817d7d;
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-top: 3vh;
}

.topwork>div:nth-child(3) {
  width: 80%;
  font-size: 1.75em;
  color: #817d7d;
  margin: auto;
  margin-top: 6vh;
}

.textctr {
  padding-top: 1.8vh;
}

.petlogo>img {
  margin-bottom: 1vh;
  height: 6vh;
  width: 100%;
}

.explore {
  width: 75%;
  display: flex;
  justify-content: space-around;
  margin-top: 10vh;
}

.explore>div {
  height: 32vh;
  width: 22%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  border-radius: 8px;
}

.explore>div>img {
  margin-top: 1.5vh;
  height: 14vh;
  width: 10vw;
}

.explore>div:first-child {
  padding-left: 4%;
}

.explore>div:nth-child(3)>img, .explore>div:nth-child(4)>img {
  margin-left: 17%;

}

.explore>div:nth-child(2)>img {
  margin-left: 20%;
}

.mealinfo {
  font-size: 1.25em;
  width: 70%;
  text-align: center;
  margin-top: 10vh;
  line-height: 4vh;
  color: #706b6b;
}

.mainbtn {
  width: 32%;
}

.mainbtn>button {
  height: 15vh;
  width: 100%;
  border-radius: 12px;
  margin-top: 8vh;
  background-color: #f53838;
  color: white;
  border: none;
}

.mainbtn>button>h1:nth-child(1) {
  font-size: 2.5em;
}

.feature {
  font-size: 1.6em;
  width: 15%;
  text-align: center;
  margin-top: 10vh;
  color: #706b6b;
}

/* .mainfimg {} */

.featureimg {
  width: 100%;
  height: 33vh;
  text-align: center;
  margin-top: 4vh;
}

.fcolor {
  margin-top: 7vh;
  background-color: #ececec;
}

.featureimg>img {
  position: absolute;
  text-align: center;
  left: 16%;
}




    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  #navbar {
    position: sticky;
    top: 0;
    background-color: white;
  }
  #navbar1 {
    display: flex;
    justify-content: space-evenly;
    /* border:1px solid red; */
    align-items: center;
    height: 100px;
  }
  #navbar1 > div:nth-child(2) {
    display: flex;
    gap: 15px;
  }
  .btn img {
    width: 100%;
    height: 100%;
  }
  .btn {
    border-radius: 100%;
    border: none;
    width: 40px;
    height: 40px;
    background-color: transparent;
  }
  #navbar1 > div:last-child {
    display: flex;
    gap: 5px;
  }
  #log {
    display: flex;
    gap: 10px;
    border-right: 1px solid;
    align-items: center;
    padding-right: 5px;
  }
  .btn2 {
    padding: 5px 25px;
    font-weight: bold;
  }
  #navigation {
    background-color: #2bb673;
    display: flex;
    justify-content: space-around;
    padding: 0px 150px;
  }
  #navigation button {
    padding: 10px;
    background-color: transparent;
    color: white;
    font-size: 18px;
    border: none;
    margin: auto;
  }
  
  /* footer start */
  
  #foot > div:first-child {
    text-align: center;
  }
  .footer {
    background-color: #2bb673;
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 10px;
  }
  .footer > div:first-child {
    display: flex;
    gap: 20px;
  }
  .footer > div:first-child > div {
    width: 25%;
  }
  .footer > div:last-child {
    text-align: center;
    font-size: 10px;
    color: white;
    width: 50%;
    margin: auto;
    margin-top: 20px;
  }
  .tr {
    font-size: 14px;
    color: white;
    font-weight: bold;
  }
  .td {
    font-size: 12px;
    color: white;
  }
  

