.allData{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    margin: auto;
    margin-top: 40px;
}
.dataFix{
    margin: auto;
    box-shadow: #0000004f 0px 3px 8px;
}

.dataFix>img{
    height: 200px;
    width: 200px;
}
.btn{
    border: none;
    background-color: #00ff55;
    margin-left: 60px;
    margin-bottom: 10px;
    cursor: pointer;
}
.btn>a{
    color: white;
    text-decoration: none;
}